{% extends "base.html" %}

{% block content %}
    <h1 class="title">Works Log</h1>

    {% if current_user.is_authenticated %}
        <a href="add_job" class="btn btn-dark">Добавить Работу</a>
        <a href="departments" class="btn btn-dark">Департаменты</a>
        <a href="users_show/{{ current_user.id }}" class="btn btn-info">Поностальгировать</a>
    {% endif %}

    {% for job in jobs %}
        <div class="action_item">
            <h2 class="action">Action # {{ loop.index }}</h2>

            <table>
                <tr class="row1">
                    <td>Title of activity</td>
                    <td>Team leader</td>
                    <td>Duration</td>
                    <td style="text-align: center">List of collaborators</td>
                    <td style="text-align: center">Is finished</td>
                </tr>

                <tr class="row2">
                    <td class="job">{{ job.job }}</td>

                    {% for user in users %}
                        {% if user.id == job.team_leader %}
                            <td class="leader">{{ user.surname }} {{ user.name }}</td>
                        {% endif %}
                    {% endfor %}

                    <td class="work-size">{{ job.work_size }} hours</td>
                    <td class="collaborators">{{ job.collaborators }}</td>

                    {% if job.is_finished == True %}
                        <td class="is_finished" style="background:rgba(0,255,0,0.4)">Yes</td>
                    {% else %}
                        <td class="is_finished" style="background:rgba(255,0,0,0.3)">No</td>
                    {% endif %}
                </tr>
            </table>
            {% if current_user.is_authenticated and (current_user == job.user or current_user.id == job.team_leader) %}
                <div>
                    <a href="/job_change/{{ job.id }}" class="btn btn-warning">Изменить</a>
                    <a href="/job_delete/{{ job.id }}" class="btn btn-danger">Удалить</a>
                </div>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}
